@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070507;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  margin: 0;
}

/* Garante que o fundo escuro seja aplicado mesmo se o Tailwind falhar */
html {
  background-color: #070507 !important;
}