@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #070507;
  --foreground: #ffffff;
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

html {
  background-color: #070507 !important;
  scroll-behavior: smooth;
}

#sobre {
  scroll-margin-top: 100px; 
}
