@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070507;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: #070507;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita a barra de rolagem lateral */
}

/* Garante que as âncoras não fiquem escondidas sob o menu fixo */
#sobre, #tecnologia {
  scroll-margin-top: 100px;
}
